* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-1: 'Big Shoulders Display', cursive;
    --font-2: 'Lexend Deca', sans-serif;

    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

body {
    font-family: var(--font-2);
    font-size: 15px;
    color: var(--transparent-white);
    max-width: 768px;
    margin: 0 auto;
    background: var(--very-light-gray);
}

.main {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    place-content: center;
}

.article {
    width: 90%;
    max-width: 400px;
    padding: 2em;
    margin: 0 auto;
}

.article:first-child {
    border-radius: 15px 15px 0 0;
}

.article:last-child {
    border-radius: 0 0 15px 15px;
}

.article--sedans {
    background: var(--bright-orange);
}

.article--suvs {
    background: var(--dark-cyan);
}

.article--luxury {
    background: var(--very-dark-cyan);
}

.article__img {
    display: inline-block;
    width: 20%;
    margin-bottom: 1em;
}

.article__text-group {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.article__h2 {
    font-family: var(--font-1);
    font-weight: 700;
    font-size: 2em;
    color: var(--very-light-gray);
    text-transform: uppercase;
}

.article__p {
    font-weight: 400;
    line-height: 1.5;
}

.article__link {
    display: inline-block;
    width: max-content;
    background: var(--very-light-gray);
    padding: 1em 1.5em;
    border-radius: 30px;
    text-decoration: none;
    cursor: pointer;
    transition-property: background, color, border;
    transition: .3s ease;
}

.article__link:hover {
    color: var(--transparent-white);
    background: transparent;
    border: 1px solid var(--transparent-white);
}

.article__link:active {
    text-decoration: underline;
}

.article__link--sedans {
    color: var(--bright-orange);
}

.article__link--suvs {
    color: var(--dark-cyan);
}

.article__link--luxury {
    color: var(--very-dark-cyan);
}