* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-1: 'Big Shoulders Display', cursive;
    --font-2: 'Lexend Deca', sans-serif;

    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

body {
    font-family: var(--font-2);
    font-size: 15px;
    color: var(--transparent-white);
    background: var(--very-light-gray);
    min-height: 100vh;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    border-radius: 15px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
    grid-template-areas: "sedans"
                         "suvs"
                         "luxury";
    place-items: center;
}

.article {
    max-width: 350px;
    min-height: 390px;
    padding: 2.5em;
    background: blue;
}

.article--sedans {
    grid-area: sedans;
    background: var(--bright-orange);
}
.article--suvs {
    grid-area: suvs;
    background: var(--dark-cyan);
}
.article--luxury {
    grid-area: luxury;
    background: var(--very-dark-cyan)
}

.article__img {
    display: inline-block;
    max-width: 30%;
}

.article__text-group {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-top: 1.5em;
}

.article__h2 {
    font-family: var(--font-1);
    font-weight: 700;
    font-size: 2em;
    color: var(--very-light-gray);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.article__p {
    font-weight: 400;
    padding-right: 2.5em;
    line-height: 1.5;
}

.article__link {
    display: inline-block;
    max-width: max-content;
    background: var(--very-light-gray);
    margin-left: .5em;
    padding: 1em 1.5em;
    border-radius: 30px;
    text-decoration: none;
    cursor: pointer;
    transition-property: background, color;
    transition: .2s ease;
}

.article__link:hover {
    color: var(--very-light-gray);
    background: transparent;
    border: 2px solid var(--transparent-white);
}

.article__link:active {
    text-decoration: underline;
}

.article__link--sedans {color: var(--bright-orange)}
.article__link--suvs {color: var(--dark-cyan)}
.article__link--luxury {color: var(--very-dark-cyan)}

/* Desktop */
@media only screen and (min-width: 1024px) {
    .main {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "sedans suvs luxury";
    }
}